gradio==5.44.0
torch==2.8.0
transformers==4.55.0
python-dotenv==1.1.1

langchain==0.3.27
langchain-core==0.3.74
langchain-community==0.3.27
langchain-text-splitters==0.3.9
langchain-openai==0.3.31
langchain-huggingface==0.3.1
langchain-chroma==0.1.4

sentence-transformers==5.1.0
